html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #fbfbfb;
  height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.small {
  font-size: 0.9em;
}

.tiny {
  font-size: 0.7em;
}

.grey, .typeahead-element-placeholder {
  color: #888888;
}

.dark {
  color: #444444;
}

.light {
  font-weight: normal;
}

.block-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrap {
  height: 100%;
  width: 200%;
  left: 0;
  transform: translateX(0%);
  transition: transform 0.5s ease;
}

.wrap.left-shifted {
  transform: translateX(-50%);
}

/* Panel */
.panel {
  float: left;
  width: 50%;
  overflow-x: hidden;
  transition: opacity 0.5s ease;
}

.panel.left-panel {
  height: 100%;
  opacity: 1;
  overflow: auto;
}

.panel.right-panel {
  height: 100%;
  opacity: 0;
}

.wrap.left-shifted .panel.left-panel {
  opacity: 0;
}

.wrap.left-shifted .panel.right-panel {
  opacity: 1;
}

.panel-header {
  display: flex;
  width: 100%;
  border-bottom: 0.1em solid #ddd;
  background-color: #fff;
}

.panel-header-entry-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.panel-header-entry-fill {
  position: relative;
  margin: auto 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.panel-header-padded {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.panel-flex {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.panel-flex-fixed {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.panel-flex-fill {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Contact List */
.contact-list-wrap {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.contact {
  padding: 0.5em;
  border-bottom: 0.05em solid #f5f5f5;
  border-left: 0.25em solid transparent;
  line-height: 1.5em;
  cursor: pointer;
}

.contact.read {
  background-color: #fbfbfb;
}

.contact.unread {
  border-left-color: #45B5FF;
  background-color: #fff;
}

.contact-name {
  margin: 0;
  color: black;
  font-size: 1em;
}

/* Header Button */
.header-button {
  width: 2.5em;
  height: 2.5em;
  padding: 0.3em;
  cursor: pointer;
}

.header-button-content {
  stroke: #222;
  fill: #222;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: all 0.3s ease;
}

.header-button:hover .header-button-content {
  stroke: #45B5FF;
  fill: #45B5FF;
}

/* Message */
.message {
  display: block;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.5em;
  max-width: 80%;
  border: 0.05em solid #f5f5f5;
/*  box-shadow: 0 0.05em 0.2em #f5f5f5;*/
  background-color: #fff;
  font-size: 0.9em;
  line-height: 1.25em;
}

.message-incoming {
  float: left;
  clear: both;
}

.message-outgoing {
  float: right;
  clear: both;
  text-align: right;
}

.message-content {
  white-space: pre-wrap;
}

/* Footer */
.conversation-footer {
  border-top: 0.1em solid #ddd;
  font-size: 0.9em;
  display: flex;
  width: 100%;
  background-color: #fff;
}

.message-input-wrap {
  padding: 0.5em 0.5em 0.1em;
  flex-grow: 1;
  flex-shrink: 1;
}

.message-input {
  padding: 0 0 0.1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  min-height: 1.4em;
  height: 1.4em;
  max-height: 4.0em;
  width: 100%;
  font-size: 0.9em;
  overflow: auto;
  word-wrap: break-word;
  border: none;
  outline: none;
  resize: none;
}

.message-input:hover, .message-input:active {
  outline: none;
  border: none;
}

.message-input-length-indicator {
  text-align: right;
}

.send-message-button {
  margin: auto 0.5em;
  flex-grow: 0;
  flex-shrink: 0;

  color: #fff;
  line-height: 1.5em;
  padding: 0.25em 1em;
  background-color: #3EA3E6;
  border: 0.05em solid #3791CC;
  border-radius: 0.3em;
  box-shadow: 0 0 0 #78C9FF;
  font-size: 0.9em;

  transition: all 0.3s ease;
}

.send-message-button:hover, .send-message-button:focus {
  background-color: #45B5FF;
  border-color: #3EA3E6;
  box-shadow: 0 0 0.2em #78C9FF;
  transition-duration: 0s;
  outline: none;
}

.send-message-button:active {
  background-color: #296D99;
  border-color: #225B80;
  box-shadow: 0 0 0 #78C9FF;
}

button.send-message-button::-moz-focus-inner {
  border: 0;
}

/* New Conversation */
.new-conversation-button {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.find-contact .new-conversation-button {
  transform: rotate(45deg);
}

.expandable-input {
  position: absolute;
  padding: 0 0.5em;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0%;
  overflow: hidden;
  transition: width 0.3s ease;
}

.find-contact .expandable-input {
  width: 100%;
  overflow: visible;
}

.expandable-input-content, .expandable-input-content:hover, .expandable-input-content:active {
  width: 100%;
  font-size: 0.9em;
  border: none;
  outline: none;
}

.contact-list {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.find-contact .contact-list {
  opacity: 0;
}

/* Typeahead */
.typeahead-wrap {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  right: -100%;
  bottom: 0;
  overflow: auto;
  z-index: 50;
  transition: left 0.3s ease, right 0.3s ease;
}

.find-contact .typeahead-wrap {
  left: 0;
  right: 0;
}

.typeahead {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.typeahead-element, .typeahead-element-placeholder {
  display: block;
  width: 100%;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  line-height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 0.1em solid #f5f5f5;
}

.typeahead-element-placeholder {
  border-bottom: none;
}

.typeahead-element.hidden, .typeahead-element-placeholder.hidden {
  display: none;
}

.typeahead-element.visible.selected {
  background-color: #ddd;
}
